<aside class="menu">
    <p class="menu-label">
        HEX
    </p>
    <div class="field is-grouped is-grouped-multiline">
        {{ range .Site.Taxonomies.hex }}
        <div class="control">
            <div class="tags has-addons">
                <a href="{{ .Page.Permalink }}" class="tag is-link is-light" style="border-top: 2px solid #{{ .Page.Title }};border-bottom: 2px solid #{{ .Page.Title }};">#{{ .Page.Title }}</a>
                <a href="{{ .Page.Permalink }}" class="tag" style="border-top: 2px solid #{{ .Page.Title }};border-bottom: 2px solid #{{ .Page.Title }};">{{ .Count }}</a>
            </div>
        </div>
        {{ end }}
    </div>
    <p class="menu-label">
        Tags
    </p>
    <div class="field is-grouped is-grouped-multiline">
        {{ range .Site.Taxonomies.tags }}
        <div class="control">
            <div class="tags has-addons">
                <a href="{{ .Page.Permalink }}" class="tag is-warning is-light">{{ .Page.Title }}</a>
                <a href="{{ .Page.Permalink }}" class="tag">{{ .Count }}</a>
            </div>
        </div>
        {{ end }}
    </div>
</aside>